<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header'); -%>
    <%- include('partials/style'); -%>
<body>
    <%- include('partials/navigation'); -%>
      <section>
        <div class="container marginSection">
            <h1 class="text-center">Agrega un nuevo tipo de cuenta</h1>
            <%- include('partials/account_type_form'); -%>
            <%- include('partials/account_type_table'); -%>
            
        </div>
      </section>
      <%- include('partials/footer'); -%>
</body>
</html>